<div class="jumbotron" id="mainContainer">
    <h4>Emissions-Reaktor</h4>
    <select class="form-control" id="dropDown">
        {{#each countries}}
        <option>{{this}}</option>
        {{/each}}
    </select>
    <button id="addDataButton" class="btn btn-primary" onclick="handleAddButton(this)">Add data</button>
    <button id="perCapita" class="btn btn-primary" onclick="handlePerCapita(this)">Per capita</button>

    <span id="infoSpan">First add some countries to the chart using the list. You can then remove countries by clicking on them.</span>

    <div id="dataSetContainer">
        <div id="dataSetList" class="list-group">
        </div>
    </div>
    <canvas id="graphCanvas" width="300" height="200"></canvas>
</div>
